# IDE
.idea
.DS_Store

# Python
.venv
__pycache__
.pytest_cache

# Tests coverage
.coverage
report.xml
coverage.xml

# Terraform
.terraform
terraform/local_access.tf
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
errored.tfstate
remote_state.tf
*planfile

# local
.env
bundle
